.site-menu {
  position: fixed;
  display: flex;
  justify-content: space-between;
  left: 0;
  right: 0;
  top: 40%;
  z-index: 9999;

  .menu-link {
    width: 200px;
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    border: solid $color-border-grey 1px;
    background-size: 200% 100%;

    &:first-child {
      background-image: linear-gradient(to right, white 50%, black 50%);
      background-position-x: 100%;

      &:hover {
        background-position-x: 0;
      }
    }

    &:last-child {
      background-image: linear-gradient(to left, white 50%, black 50%);
      background-position-x: 0;

      &:hover {
        background-position: 100%;
      }
    }

    a {
      display: block;
      box-sizing: border-box;
      padding: 20px 30px;
      font-family: $font-secondary;
      text-align: center;
      font-size: large;
      font-weight: bold;
      color: white;
      text-decoration: none;
      transition: color 0.3s;
    }

    &:hover {
      a {
        color: black;
      }
    }
  }
}

.top-menu {
  display: inline-flex;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 9999;
  transition: all 0.8s;

  &.item-page{
    left: unset;
    right: 20px;
  }

  .top-menu__home {
    display: inline-block;
    height: 40px;
    margin-right: 110px;

    img {
      height: 100%;
      width: auto;
    }

    &::after {
      content: "";
      background-color: white;
      position: absolute;
      width: 60px;
      height: 1px;
      top: 50%;
      margin-left: 20px;
    }
  }

  .top-menu__link {
    font-size: 1.3em;
    font-weight: bold;
    font-family: $font-secondary;
    color: white;
    text-decoration: none;
  }

  &.white {
    .top-menu__link {
      color: black;
    }
  }
}