.about {
  background-color: black;
  min-height: 100vh;

  .about-section {
    display: flex;
    height: 100vh;
    justify-content: space-around;
    align-items: center;

    .about-section__text-content {
      width: 50%;
      padding: 0 70px;
      .title {
        font-size: 2.5em;
        font-family: $font-secondary;
      }

      .content {
        font-size: 1.2em;
        letter-spacing: 0.2em;
        line-height: 1.5em;
      }
    }

    .about-section__image {
      width: 50%;
      height: 100%;
      background: url(../assets/backgrounds/about.jpg) no-repeat center /cover fixed;
      filter: grayscale(100%) brightness(50%);
    }
  }
}
