.home{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  background-color: $color-background-grey;
  .content{
    position: relative;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .logo{
      height: 50px;
      display: flex;
      align-items: center;
      justify-items: center;
      margin-bottom: 50px;
      animation: slide-fade-in-up $entry-animation-time $animation-speed-curve;
      img{
        height: 90%;
        width: auto;
      }
    }

    .home-content__intro{
      font-size: 2.5em;
      margin-bottom: 30px;
      letter-spacing: 1.2em;
      font-family: $font-accent;

      @include media-query(small){
        font-size: 1.2em;
        text-align: center;
        letter-spacing: 1em;
      }
    }
    .home-content__about{
      font-size: 1.8em;
      font-family: $font-secondary;
      animation: fade-in $entry-animation-time $animation-speed-curve;

      @include media-query(small){
        font-size: 1em;
        text-align: center;
      }
    }
    .typing{
      font-size: 1.8em;
      font-family: $font-secondary;
      text-align: center;
      text-decoration: underline;
      overflow: hidden;
      white-space: nowrap;
      border-right: 0.15em solid white ;
      margin: 0 auto;
      animation: typing 4s steps(15, end) infinite, typing-caret .5s step-end infinite;
      @include media-query(small){
        font-size: 1em;
        text-align: center;
      }
    }
    .triangle-image{
      position:absolute;
      bottom:0;
      height: 150px;
      img{
        height: 100%;
        width: auto;
        margin-bottom: -5px;
      }
      @include media-query(small){
        height: 90px;
      }
    }
  }
  .home__social{
    position: absolute;
    bottom: 10px;
    left: 10px;
    a{
      margin-right: 20px;
      color: white;
      text-decoration: none;
    }
  }
}