.work {
  min-height: 100vh;
  background-color: $color-dark-grey;

  .banner-section {
    width: 100vw;
    height: 80vh;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .banner-section__image {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      filter: grayscale(100%) brightness(50%) blur(3px);
    }

    .banner-section__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      background-color: black;
      position: relative;
      padding: 50px;
      margin-left: 20px;
      animation: fade-in 0.8s;

      .banner__content__title {
        font-size: 2em;
        font-family: $font-secondary;
        letter-spacing: 0.2em;
        font-weight: bold;
        margin: 0;
        animation: slide-fade-in-left 0.8s;

        span {
          font-family: $font-primary;
        }
      }

      .banner__content__excerpt {
        font-size: 1.3em;
        margin: 40px 0;
      }
    }

    @include media-query(small){
      .banner-section__content{
        padding: 20px;
        margin-left: 10px;
        max-width: 300px;
        .banner__content__title{
          font-size: 1.3em;
          letter-spacing: 0.1em;
        }
        .banner__content__excerpt{
          margin: 20px 0;
          font-size: 0.8em;
        }
        .button{
          font-size: 0.8em;
          padding: 10px;
          min-width: 100px;
        }
      }
    }

  }

  .work__content {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    color: white !important;
    font-family: $font-primary !important;
    padding: 30px;

    h1 {
      font-size: 2em;
      font-weight: bold;
      font-family: $font-secondary;
      margin-top: 50px;

      &:first-child {
        margin-top: 0;
      }
    }

    p {
      font-size: 1.3em;
      line-height: 2em;
      display: block;
    }
  }
}