.works {
  height: 100vh;
  width: 100vw;
  padding: 30px;
  background-color: white;
  color: black;
  overflow: hidden;
  .portfolio-item{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}