@keyframes typing {
  from,70%,to {
    width: 100%
  }
  30% {
    width: 0
  }
}

@keyframes typing-caret {
  from, to {
    border-color: transparent
  }
  50% {
    border-color: white;
  }
}


@keyframes slide-in-left {
  0% {
    @include prefix(transform, translateX(-100px), webkit)

  }
  100% {
    @include prefix(transform, translateX(0), webkit)

  }
}


@keyframes slide-in-right {
  0% {
    @include prefix(transform, translateX(100px), webkit)

  }
  100% {
    @include prefix(transform, translateX(0), webkit)

  }
}

@keyframes slide-fade-in-up{
  0%{
    @include prefix(transform,translateY(-150px),webkit);
    opacity: 0.4;
  }
  100%{
    @include prefix(transform,translateY(0),webkit);
    opacity: 1;
  }
}

@keyframes slide-fade-in-left{
  0%{
    @include prefix(transform,translateX(-150px),webkit);
    opacity: 0.4;
  }
  100%{
    @include prefix(transform,translateX(0),webkit);
    opacity: 1;
  }
}

@keyframes fade-in {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


