body{
  margin: 0 !important;
  color: white;
  font-family: $font-primary;
}

#app{
  background-color: $color-background-grey;
  overflow: hidden;
  .page{
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  }
}

.inline{
  display: inline;
}

div{
  box-sizing: border-box;
}