body{
  margin: 0 !important;
  color: #e9e9e9;
  font-family: $font-primary;
}

#app{
  overflow-x: hidden;
  .page{
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  }
}

.inline{
  display: inline;
}

div{
  box-sizing: border-box;
}

.animate-on-entry{
  visibility: hidden;
  animation-delay: $page-transition-time !important;
  &.show{
    visibility: visible;
  }
}

.loading{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999999;
  overflow: hidden;
  background-color: white;
  .holder{
     height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.button {
  padding: 15px;
  min-width: 200px;
  border: solid 2px white;
  background-color: $color-dark-grey;
  color: white;
  text-decoration: none;
  font-family: $font-primary;
  text-align: center;
  transition: all 0.8s;
  font-size: 1.1em;

  &:hover {
    background-color: white;
    color: black;
  }
}