body{
  margin: 0 !important;
  color: white;
  font-family: $font-primary;
}

#app{
  background-color: black;
  overflow-x: hidden;
  .page{
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  }
}

.inline{
  display: inline;
}

div{
  box-sizing: border-box;
}

.animate-on-entry{
  visibility: hidden;
  animation-delay: $page-transition-time !important;
  &.show{
    visibility: visible;
  }
}

.loading{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999999;
  overflow: hidden;
  background-color: white;
  .holder{
     height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}