
.fade-enter-active, .fade-leave-active {
  transition: opacity $page-transition-time;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.site-transition-enter-active, .site-transition-leave-active{
  transition: all $page-transition-time cubic-bezier(.82,.01,.47,.93);
}

.site-transition-enter{
    transform: translateY(100%);
}

.site-transition-leave-to{
  opacity: 0;
}

.loader-transition-enter-active, .loader-transition-leave-active{
  transition: all $page-transition-time cubic-bezier(.82,.01,.47,.93);
  img{
    transition: all $page-transition-time cubic-bezier(.82,.01,.47,.93);
  }
}

.loader-transition-enter{
  height: 0;
  background-color: black;
  img{
    transform: scale(0.7);
  }
}

.loader-transition-leave-to{
  background-color: black;
  height: 0;
  img{
    transform: scale(0.7);
  }
}
