
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.8s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}


/*
********SITE TRANSITION*******
 */
.site-transition-enter-active, .site-transition-leave-active {
  transition: all $page-transition-time cubic-bezier(.82, .01, .47, .93);
}

.site-transition-enter {
  transform: translateY(100%);
}

.site-transition-leave-to {
  opacity: 0;
}

/*
********HOME MENU TRANSITION*******
 */
.home-menu-enter-active, .home-menu-leave-active{
  transition: opacity 0.7s;
  *{
    transition: all 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  }
}

.home-menu-enter, .home-menu-leave-to{
  opacity: 0;
  .menu-link:first-child{
    transform: translateX(-200px);
  }
  .menu-link:last-child{
    transform: translateX(200px);
  }
}


/*
********LOADER TRANSITION*******
 */
.loader-transition-enter-active, .loader-transition-leave-active {
  transition: all $page-transition-time cubic-bezier(.82, .01, .47, .93);

  img {
    transition: all $page-transition-time cubic-bezier(.82, .01, .47, .93);
  }
}

.loader-transition-enter {
  height: 0;
  background-color: black;

  img {
    transform: scale(0.7);
  }
}

.loader-transition-leave-to {
  background-color: black;
  height: 0;

  img {
    transform: scale(0.7);
  }
}

/*
********WORKS TRANSITION*******
 */

.works-transition-enter-active, .works-transition-leave-active {
  transition: all 0.8s;
  * {
    transition: all 0.8s cubic-bezier(1,-0.6,.34,1.54);
  }
}

.works-transition-enter, .works-transition-leave-to {
  opacity: 0;
  .section-content{
    transform: translateX(-150%);
  }
  .section-image-container{
    transform: translateY(150%);
  }
}
