$color-background-grey: #414141;
$color-border-grey: #6d6d6d;

$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Righteous', cursive;
$font-accent: 'Expletus Sans', cursive;

$page-transition-time: 1s;
$entry-animation-time: 0.7s;
$animation-speed-curve: cubic-bezier(.28,.58,.44,.97);